body {
    font-family: helvetica;
    font-size: 1vw;
}

#title {
    text-align: justify;
    hyphens: auto;
}

#subtitle {
    padding-top: 2%;
    font-size: 70%;
    text-align: justify;
}

.synth-controls {
    position: relative;

}

.synth-controls div {
    width: 100%;
}

.wrapper {
    width: 21vw;
    margin-left: auto;
    margin-right: auto;
}

#clients {
    font-size: 40%;
}

label {
    font-size: 70%;
    color: grey;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;

    background: #ffffff;
    margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox and IE */
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;

    background: #ffffff;
}

input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;

    background: #ffffff;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: black;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background: black;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    background: black;
    border: 0.2px solid #010101;
}

#audioplayer {
    position: relative;
    width: 100%;
    height: 75px;
    padding-bottom: 0.1vw;
    padding-top: 2vw;
    /*

      text-align:center; */
}

#pButton {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    /* float:left; */
    outline: none;
    vertical-align: middle;
}

.play {
    background: url('assets/img/play.png');
}

.pause {
    background: url('assets/img/pause.png');
}


#volume_control {
    display: inline-block;
    vertical-align: middle;

}

#rngVolume {
    width: 60%;
    /* padding-bottom: 16%; */
    padding-left: 20%;
}

#disabled-overlay {
    width: 101%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    position: absolute;
    z-index: 9;
    opacity: 0.8;
}

.user-info {
    height: 210px;
    font-size: 10pt;
    overflow: scroll;
}

.other-users-info {
    font-size: 12pt;
}

.users-overview  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-settings {
    max-width: 200px;
    opacity: 0.3;
}

@media only screen and (max-width: 1000px) {

    body {
        font-size: 5vw;
    }

    .wrapper {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid #000000;
        height: 4vw;
        width: 4vw;

        background: #ffffff;
        margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    }

    /* All the same stuff for Firefox and IE */
    input[type=range]::-moz-range-thumb {
        -webkit-appearance: none;
        border: 1px solid #000000;
        height: 4vw;
        width: 4vw;

        background: #ffffff;
    }

    input[type=range]::-ms-thumb {
        -webkit-appearance: none;
        border: 1px solid #000000;
        height: 4vw;
        width: 4vw;

        background: #ffffff;
    }

    input[type=range] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */

    }

    .synth-controls div {
        padding-bottom: 5vw;
    }

    #rngVolume {
        width: 100%;
        /* padding-bottom: 16%; */
        padding-left: 20%;
    }
}
